body {
  background: #000000; /* hitam kebiruan */
  color: #c9d1d9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
}

.ascii {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.2;
}

/* KINGFISH */
.logo {
  color: #00bfff; /* biru */
}

/* by ndaru */
.brand {
  color: #ff3b3b; /* merah */
  display: block;
  margin-top: 6px;
  font-weight: bold;
}


.chat-box {
  border: 1px solid #00bfff;
  background: #020812;
  padding: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

#messages {
  flex: 1;
  overflow-y: auto;
  padding: 5px;
  font-size: 14px;
}

#messages p {
  margin: 4px 0;
}

#chat-form {
  display: flex;
  border-top: 1px solid #00bfff;
}

#message-input {
  flex: 1;
  background: black;
  color: #00bfff;
  border: none;
  padding: 8px;
  font-family: inherit;
}

#message-input:focus {
  outline: none;
}

button {
  background: #00bfff;
  border: none;
  color: black;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background: #0099cc;
}
